# Streamlit web app
streamlit

# Data processing and plotting
pandas
matplotlib
seaborn

# LangChain core + integrations
langchain
langchain-community
langchain-huggingface
langchain-openai

# LLM and Embeddings
openai
sentence-transformers

# Lightweight vector store
docarray
